.box {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin: 5px;
    font-weight: 300;
    min-width: 500px;
}

.container-ge {
    font-family: "Fira Sans", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    margin: 5px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.container_m {
    display: flex;
    font-family: "Fira Sans", sans-serif;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.container_btn {
    display: flex;
    font-family: "Fira Sans", sans-serif;
    flex-direction: row;
    flex-wrap: nowrap;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5px;
}

.svgicon {
    color: #fff !important;
}

.title {
    font-weight: 500;
    text-align: right;
    justify-self: end;
}

.vertical_checks {
    display: flex;
    flex-direction: column;
    width: 45px;
    margin: 10px;
    position: fixed;
    left: 0;
    top: 112px;
    z-index: 1200;
}

.btn-hrv {
    height: 50px;
}

.features {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px;
    position: fixed;
    right: 0;
    top: 112px;
    z-index: 1200;
}

.central-graph {
    position: fixed;
    left: 80px;
    top: 112px;
    width: calc(100vw - 350px);
    height: calc(100vh - 112px);
    background-color: #d8d8d8;
    border-radius: 10px 10px 0 0;
}

.btn-gn{
    width: 60px !important;
}